.scorecard{
    display: flex;
}
.playerbox{
    display: flex;
    flex-direction: row;
}
.encapsulate{
    display: flex;
    flex-direction: column;
}

.spacing{
    width: 35px;
    height: 30px;
    border: solid 1px black;
    padding-left: 12px;
    background-color: blue;
}
.spacing2{
    width: 35px;
    height: 30px;
    border: solid 1px black;
    padding-left: 12px;
    background-color: red;
}
.spacing3{
    width: 100px;
    height: 30px;
    border: solid 1px black;
    padding-left: 6px;
    background-color: forestgreen;
}
.spacing4{
    width: 35px;
    height: 30px;
    border: solid 1px black;
    padding-left: 3px;
    background-color: blue;
}
.spacing5{
    width: 35px;
    height: 30px;
    border: solid 1px black;
    padding-left: 6px;
    background-color: yellow;
}
.spacing5{
    width: 75px;
    height: 30px;
    border: solid 1px black;
    padding-left: 6px;
    background-color: purple;
}



.nameLine{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    background-color: Navy;
    width: 75px;
}